{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

  <div class='row'>

  <div>
   <h1>Llama Tracker</h1>
   <h4>You need some Llama in your life</h4>
    <form>
        <div class="form-group">
          <input type="text" id='name' class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="number" id='age' class="form-control" placeholder="Age">
        </div>
        <div class="checkbox">
        <label>
          <input type="checkbox" id='spitter' placeholder="spitter"> Spitter
        </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
      <br><hr>
    <div class='message-section'>
      <p id='message' class='alert alert-success'></p>
    </div>

  <div>
    <table class='table table-striped'>
      <h2>All the Llamas </h2>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Spitter</th>
        </tr>
      </thead>

    <tbody id='all-llamas'></tbody>
    </table>

  </div>

  <div id="llama-pics">
  </div>

  </div>
  </div>

{% endblock %}
